@import "styles/root/root";
@import "styles/variables/colors";
@import "styles/variables/theme-variables";

.App {
  height: 100%;
}

.required {
  color: $supportive-red-00;
  font-size: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
