@import "./../../../../styles/variables/colors.scss";

.lng-switch {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  height: 50px;

  .list {
    cursor: pointer;
    margin-top: 3px;

    .item-list:last-child{
      color: $primary-active-yellow;
    }

    .item:first-child{
      color: $primary-active-blue;
    }
  }
}

.icon2 {
  background-color: transparent !important;
}
